# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Java / Spring Boot
backend/target/
backend/.idea/
backend/*.iml
backend/.classpath
backend/.project
backend/.settings/
backend/.vscode/

# System files
.DS_Store
*.log
.env
